<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_header %>
  <title>TinyApp</title>
</head>
<body>
    <% newDB.forEach(function (url) { %>
    <li><%= url.shortURL %> - <a href="<%= url.longURL%>" title="<%= url.longURL%>"><%= url.longURL%></a> 
        <% action = "/urls/"+url.shortURL %>
        <% action = action+"/delete" %>        
    <form method="POST" action="<%= action %>">
    <input type="submit" value="Delete">
    <a href="/urls/<%=url.shortURL%>" title="Edit URL">Edit URL</a>
    </form><br/></li>
    <% }); %>
    <a href="/urls/new" title="new">New URL</a>
</body>
</html>