<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_header %>
  <title>TinyApp</title>
</head>
<body>
    <% for (url in urls) { %>
    <li><%= url %> - <a href="<%= urls[url]%>" title="<%= urls[url]%>"><%= urls[url]%></a> 
        <% action = "urls/"+url+"/delete" %>        
    <form method="POST" action="<%= action %>">
    <input type="submit" value="Delete">
    <a href="/urls/<%=url%>" title="Edit URL">Edit URL</a>
    </form><br/></li>
    <% }; %>
</body>
</html>